.content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.centerVerticallyAndHorizontally,
.ending__option,
.ending__score,
.ending__shape,
.login__form__container,
.options__container,
.survey__text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ending__container {
  position: relative;
  width: 800px;
  height: 700px;
  background-color: rgba(4, 48, 83, 0.7);
  border: 2px solid #14748f;
  box-shadow: 0 0 8.5em 1em rgba(20, 116, 143, 0.5);
}
.ending__shape {
  margin: -100px auto 0;
  width: 625px;
  height: 300px;
  background-image: url(/images/score-container.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.ending__score {
  flex-direction: column;
  color: #05e6ff;
}
.ending__score--score {
  font-size: 110px;
  text-shadow: 0 0 25px rgba(0, 236, 252, 0.5);
  font-weight: 700;
  margin-top: -30px;
  line-height: 1.3;
}
.ending__position {
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 18px;
  transition: color 0.2s ease-in-out;
}
.ending__position:hover {
  color: #fff;
}
.ending__position--position,
.ending__position--text {
  color: hsla(0, 0%, 100%, 0.8);
}
.ending__content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  text-align: center;
  color: #05e6ff;
}
.survey__text {
  font-size: 18px;
  height: 65px;
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.1);
}
.login__form__container {
  height: 875px;
}
.ending__option {
  width: 138px;
  height: 36px;
  cursor: pointer;
  border: 2px solid #2c6d86;
  background-color: #0f3a56;
  font-size: 22px;
  transition: all 0.15s ease-in-out;
  color: #05e6ff;
}
.options__container {
  gap: 15px;
}
@media (max-width: 480px) {
  .options__container {
    flex-wrap: wrap;
  }
  .options__container > * {
    width: 40%;
  }
  .options__container > *:last-child {
    width: calc(2 * 40% + 15px);
  }
  .ending__content {
    height: 110px;
  }
}
.ending__option:hover {
  background-color: #134262;
  border-color: #2c6e87;
}
.play__option {
  height: 42px;
  border: 2px solid #1593b7;
  background-color: #05567c;
}
.play__option:hover {
  background-color: #226491;
  border-color: #3eaad5;
}
@media (max-width: 480px) {
  .ending__container {
    margin-top: 200px;
    width: 340px;
    height: 640px;
  }
  .ending__shape {
    margin-top: -115px;
    width: 340px;
  }
  .ending__score--score {
    font-size: 75px;
    margin-top: -150px;
  }
  .ending__option {
    font-size: 19px;
  }
  .play__option {
    height: 40px;
  }
}

.login-section__container {
  height: 125%;
  padding-top: 50px;
}
.login-section__container,
.login__inputs {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 480px) {
  .login-section__container {
    height: 150%;
    padding-top: 35px;
  }
}
.login__inputs {
  margin: 0 auto;
  padding: 24px;
  border: 2px solid #14748f;
  background-color: rgba(4, 48, 83, 0.7);
  box-shadow: 0 0 90px 10px rgba(20, 116, 143, 0.5);
  width: 400px;
}
.login-input__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.login-birthdate-container {
  width: 216px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.login-birthdate__select,
.login-birthmonth__select,
.login-birthyear__select {
  width: 25%;
  color: #05e6ff;
  background-color: #05567c;
  border: 2px solid #1593b7;
  text-align: center;
  font-weight: 500;
  transition-duration: 0.15s;
  height: 40px;
  font-size: 18px;
}
.login-birthyear__select {
  width: 35%;
}
.login-input__input {
  width: 200px;
  height: 30px;
  cursor: text;
}
.login__buttons {
  display: flex;
  justify-content: space-between;
}
.login__button {
  cursor: pointer;
}
.return__button {
  margin-right: 100px;
}
@media screen and (min-width: 1200px) {
  .login-birthdate-container {
    width: 224px;
  }
  .login-birthdate__select,
  .login-birthmonth__select,
  .login-birthyear__select {
    width: 30%;
  }
}
@media screen and (max-width: 480px) {
  .login__inputs {
    width: 225px;
    text-align: left;
  }
  .login-input__input {
    width: 120px;
  }
  .login-input__container {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .login-input__input {
    width: calc(100% - 24px);
  }
  .login-input__label {
    margin-bottom: 10px;
  }
  .login__buttons {
    width: 100%;
    margin-top: 6px;
  }
  .login__button {
    width: 100%;
  }
}

.menu__item {
  color: #05e6ff;
  background-color: #05567c;
  border: 2px solid #1593b7;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  transition-duration: 0.15s;
}
.menu__item:hover {
  background-color: #066490;
  border-color: #15a9d3;
  color: #fff;
}

.title {
  margin-top: 80px;
  font-size: 40px;
  font-weight: 400;
  color: #05e6ff;
  text-align: center;
  text-shadow: 0 0 0.2em rgba(0, 236, 252, 0.5);
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 25px;
  }
}
.item__title {
  font-size: 20px;
  font-weight: 600;
  color: #05e6ff;
}
