.content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaderboard__main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -150px;
}

.leaderboard_title {
  width: 100%;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #05e6ff;
  text-align: center;
  text-shadow: 0 0 0.2em rgba(0, 236, 252, 0.5);
  margin-bottom: 18px;
}

.leaderboard__container {
  display: flex;
  flex-basis: 900px;
  flex-wrap: wrap;
  background-color: rgba(4, 48, 83, 0.7);
  border: 2px solid #14748f;
  box-shadow: 0 0 8.5em 1em rgba(20, 116, 143, 0.5);
}

.btn__container {
  display: flex;
  width: 100%;
  padding: 0 40px;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 15px;
}

.btn__leaderboard {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #05e6ff;
  text-align: center;
  min-width: 113px;
  cursor: pointer;
}

.btn__leaderboardTab-1 {
  padding: 10px;
  border: 2px solid #1593b7;
  border-left: 0;
  padding: 8px 0 10px 0;
  margin-right: 15px;
  z-index: 1;
  position: relative;
  background-color: #05567c;

  &:before {
    content: '';
    position: absolute;
    left: -15px;
    top: -2px;
    height: 100%;
    width: 26px;
    border-left: 3px solid #1593b7;
    border-top: 2px solid #1593b7;
    border-bottom: 2px solid #1593b7;
    transform: skewX(27deg);
    background-color: #05567c;
    z-index: 2;
  }

  &:hover {
    color: white;
    background-color: #066490;
    border-color: #15a9d3;
    transition: all 120ms ease-out;
  }

  &:hover:before {
    color: white;
    background-color: #066490;
    border-color: #15a9d3;
    transition: all 120ms ease-out;
  }
}

.btn__leaderboardTab-2 {
  padding: 10px;
  border: 2px solid #1593b7;
  border-right: 0;
  padding: 8px 0 10px 0;
  z-index: 1;
  position: relative;
  background-color: #05567c;

  &:before {
    content: '';
    position: absolute;
    right: -17px;
    top: -2px;
    height: 100%;
    width: 26px;
    border-right: 3px solid #1593b7;
    border-top: 2px solid #1593b7;
    border-bottom: 2px solid #1593b7;
    transform: skewX(-26deg);
    background-color: #05567c;
    z-index: 2;
  }

  &:hover {
    color: white;
    background-color: #066490;
    border-color: #15a9d3;
    transition: all 120ms ease-out;
  }

  &:hover:before {
    color: white;
    background-color: #066490;
    border-color: #15a9d3;
    transition: all 120ms ease-out;
  }
}

.btn__return {
  display: flex;
  margin: 0 auto 15px;
}

.btn {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  transition: all 120ms ease-out;
  cursor: pointer;

  color: #05e6ff;
  background-color: #05567c;
  border: 2px solid #1593b7;

  padding: 6px 20px 7px;

  &:hover {
    color: white;
    background-color: #066490;
    border-color: #15a9d3;
  }
}

.leaderboard__tab {
  width: 100%;
}

.leaderboardList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 50px;
}

@media only screen and (max-width: 1366px) {
  .leaderboard__container {
    flex-basis: 80%;
  }
}

@media only screen and (max-width: 1024px) {
  .leaderboard__container {
    flex-basis: 90%;
  }

  .leaderboard__main {
    margin-top: 15px;
  }

  .leaderboard_title {
    margin-bottom: 12px;
  }

  .btn__return {
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 812px) {
  .leaderboardList {
    padding: 20px;
  }
}

@media only screen and (max-width: 414px) {
  .leaderboardList {
    padding: 10px;
  }
}

@media only screen and (max-width: 360px) {
  .leaderboard__main {
    margin-top: 9px;
  }

  .leaderboard_title {
    font-size: 36px;
    margin-bottom: 9px;
  }
}

.row {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  margin: 3px;

  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
  color: white;

  &:hover {
    background-color: rgba(255, 255, 255, 0.12);
    transition: all 100ms ease-out;
  }
}

.uneven {
  background-color: rgba(0, 0, 0, 0.2);
}

.even {
  background-color: rgba(255, 255, 255, 0.07);
}

.col {
  display: flex;
  margin: auto 20px;
}

.index {
  flex-basis: 5%;
}

.name {
  flex-basis: 90%;
  text-align: left;
  margin-left: 0;
}

.player {
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 20px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transition: all 100ms ease-out;
  }
}

@media only screen and (max-width: 1024px) {
  .row {
    height: 40px;
  }

  .player {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 414px) {
  .row {
    height: 33px;
    font-size: 15px;
  }
}

.highlight {
  color: #05e6ff;
  background-color: #05567c;
  border-color: #1593b7;
}

.error {
  color: white;
  padding-bottom: 15px;
}
