.content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 350px) {
  .content {
    text-align: center;
  }
}

.title {
  margin-top: 80px;
  font-size: 60px;
  font-weight: 400;
  color: #05e6ff;
  text-shadow: 0 0 15px rgba(0, 236, 252, 0.5);
}

.animations__enabled {
  animation: fadeIn 0.2s ease-in 1 forwards;
}
.menu__item {
  color: #05e6ff;
  background-color: #05567c;
  border: 2px solid #1593b7;
  margin-bottom: 17px;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  transition-duration: 0.15s;
}
.menu__item:hover {
  background-color: #066490;
  border-color: #15a9d3;
  color: #fff;
  cursor: pointer;
}
.parents__materials__container {
  text-align: center;
  height: 100vh;
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.parents__container {
  margin: 0 auto;
  max-width: 1520px;
  max-height: 60%;
  padding: 10px;
  border: 2px solid #14748f;
  background-color: rgba(4, 48, 83, 0.7);
  box-shadow: 0 0 90px 10px rgba(20, 116, 143, 0.5);
  text-align: center;
}

.parents__content {
  display: flex;
  flex-direction: row;
  padding: 30px;
  width: calc(100% - 60px);
}
.parents__content__right {
  text-align: left;
  margin-bottom: 100px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 20px;
  border-left: 2px solid #14748f;
  width: 20%;
}

.parents__content__left {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 80%;
}

@media (max-width: 480px) {
  .parents__content__right,
  .parents__content__left {
    width: 100%;
  }
}

.parents__button {
  position: absolute;
  bottom: 9%;
  left: calc(50% - 104px);
  margin: 0;
  padding: 4px 20px 5px;
  transition: all 0.2s ease-in-out;
}
.parents__button:active,
.parents__button:hover {
  color: #fff;
  background-color: #066490;
  border-color: #15a9d3;
}
.parents__content__right__title {
  font-size: 25px;
  line-height: 1.35;
  font-family: Exo\2, sans-serif;
  color: #fff;
  padding-bottom: 0;
}
.right__item {
  list-style: none;
  font-size: 15px;
  color: #05e6ff;
  -webkit-text-shadow: 0 0 5px rgba(0, 236, 252, 0.5);
  padding-bottom: 10px;
  -webkit-padding-start: 0;
  text-shadow: 0 0 5px rgba(0, 236, 252, 0.5);
}
.left__item__inner {
  display: block;
  width: 190px;
  height: 220px;
  padding: 0 20px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.left__item__inner:hover {
  color: #05e6ff;
}
.left__item {
  display: flex;
}
.left__item__image {
  height: 130px;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}
.left__item__image:hover {
  box-shadow: 0 0 30px 5px #14748f;
}
.left__item__title {
  font-size: 16px;
}

@media (max-width: 3000px) {
  .parents__container {
    padding-left: 0;
    max-height: 65%;
    overflow: auto;
  }
  .left__item__inner {
    padding: 5px;
    width: 199px;
  }
}
@media (max-width: 1645px) {
  .parents__content__left {
    justify-content: flex-start;
  }
  .left__item__inner {
    padding: 0 5px;
  }
  .parents__button {
    bottom: 4%;
  }
}
@media (max-width: 1440px) {
  .parents__container {
    max-height: 50%;
    overflow: auto;
  }
  .left__item__inner {
    padding: 10px;
  }
  .parents__button {
    position: absolute;
    bottom: 4%;
    left: calc(50% - 100px);
    padding: 10px 20px;
  }
  .menu__container {
    margin: 30px;
  }
  .menu__item {
    font-size: 18px;
    padding: 6px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1440px) and (max-height: 1050px) {
  .parents__button {
    left: calc(50% - 100px);
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .parents__content__left {
    justify-content: center;
  }
  .column {
    overflow: auto;
    padding-top: 15%;
  }
  .parents__container {
    max-height: 65%;
    overflow: auto;
    padding-left: 0;
  }
  .title {
    font-size: 40px;
    margin-top: 40px;
  }
  .left__item {
    flex: 0;
  }
  .left__item__inner {
    padding: 0;
    width: 155px;
    height: 160px;
  }
  .left__item__title {
    font-size: 14px;
  }
  .left__item__image {
    height: 107px;
  }
  .parents__button {
    position: absolute;
    left: calc(50% - 55px);
  }
  .menu__item {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .parents__content {
    flex-direction: column;
  }
}
