.position__timer {
  display: none;
  position: absolute;
  width: 10%;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  left: 0;
  right: 0;
  top: 15px;
  margin: 0 auto;
  animation-fill-mode: forwards;
}
@media (max-width: 480px) {
  .position__timer {
    top: 50px;
    font-size: 40px;
  }
  .out-of-time {
    top: 65px;
    width: 60%;
    font-size: 20px;
  }
}
.points--message {
  color: #05e6ff;
}
.points--slide {
  display: inline-block;
  opacity: 0;
  animation: none;
  animation-duration: 2s;
}
.out-of-time {
  width: 30%;
  color: red;
  font-size: 30px;
}
.animate__timer {
  animation-name: slide;
  animation-timing-function: ease-in-out;
}
@keyframes slide {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.game {
  max-width: 80%;
  width: 1000px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.game__information {
  font-size: 17px;
  margin-left: 15px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #05e6ff;
}
.game__container {
  border: 2px solid #14748f;
  box-shadow: 0 0 85px 1px rgba(20, 116, 143, 0.5);
}
.game__container,
.game__head {
  background-color: rgba(4, 48, 83, 0.7);
}
.game__head {
  font-weight: 600;
  color: #05e6ff;
  font-size: 20px;
  padding: 20px 30px;
}
.game__item {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  display: flex;
}
.game-list__index {
  font-size: 15px;
  text-transform: lowercase;
  color: hsla(0, 0%, 100%, 0.5);
  float: left;
  width: 25px;
  margin-top: 5px;
}
.game-list__index:after {
  content: ')';
}
.game-list__inner {
  border-width: 2px;
  transition: all 0.12s ease-out;
  background-color: #05567c;
  border: 2px solid #1593b7;
  padding: 2px 6px 3px;
  color: #05e6ff;
  font-size: 15px;
  float: left;
  width: calc(100% - 25px);
  opacity: 1;
  color: #05567c;
  cursor: pointer;
}
.game-list__inner--active {
  color: #05e6ff;
}
.game-list__inner--active:hover {
  background-color: #066490;
  border-color: #15a9d3;
}
@media screen and (max-width: 768px) {
  .game-list__inner {
    font-size: 12px;
    min-height: 25px;
  }
  .game__head {
    font-size: 16px;
  }
  .game-list__index {
    font-size: 14px;
    margin-top: 3px;
  }
}
.game__body {
  list-style: none;
}
.answer__disabled {
  color: #0d273d;
  cursor: default;
  border: 2px solid #1593b7;
  background-color: #0d273d;
  box-shadow: 0 0 1em #1593b7;
  box-shadow: none;
}
.answer__disabled:hover {
  background-color: #0d273d;
  border-color: #1593b7;
}
.answer__incorrect {
  color: #fff;
  cursor: default;
  border: 2px solid #f90a0a;
  background-color: #f90a0a;
  box-shadow: 0 0 1em #f90a0a;
}
.answer__incorrect:hover {
  background-color: #f90a0a;
  border-color: #f90a0a;
}
.answer__correct {
  color: #fff;
  cursor: default;
  border: 2px solid #0ff90a;
  background-color: #40a81e;
  box-shadow: 0 0 1em #0ff90a;
}
.answer__correct:hover {
  background-color: #40a81e;
  border-color: #0ff90a;
}

.ui__hexagon {
  width: 28.75px;
  height: 50px;
  background-color: #05567c;
  position: absolute;
  right: -20px;
  top: 55px;
  box-shadow: inset 0 2px 0 0 #15a9d3, inset 0 -2px 0 0 #15a9d3;
}
.ui__hexagon:after,
.ui__hexagon:before {
  content: '';
  position: absolute;
  border: inherit;
  width: 100%;
  height: 100%;
  transform: rotate(60deg);
  background-color: inherit;
  box-shadow: inherit;
  left: 0;
  top: 0;
  z-index: -1;
}
.ui__hexagon:after {
  transform: rotate(-60deg);
}
.ui-hexagon__content {
  text-align: center;
}
.ui-hexagon__content--points {
  font-size: 13px;
  line-height: 50px;
}
.ui__hexagon--bar-points {
  height: 37.5px;
  width: 21.5625px;
  position: absolute;
  right: 30px;
  top: 90px;
}
.ui-hexagon__content--bar-points {
  line-height: 37.5px;
  font-size: 16px;
}
.ui__multiplayer {
  transform: skewX(-30deg);
  height: 17.5px;
  width: 25px;
  right: 65px;
  top: 89px;
  position: absolute;
  background-color: #05567c;
  box-shadow: inset 0 0 0 2px #15a9d3;
}
.ui-multiplayer__content {
  transform: skewX(30deg);
  line-height: 17.5px;
  font-size: 10px;
  text-align: center;
}
.ui__bar {
  height: 15px;
  width: 60vw;
  box-shadow: inset 0 0 0 2px #15a9d3;
  top: 113.4px;
  right: 49.5px;
}
.ui__bar,
.ui__bar:before {
  position: absolute;
  background-color: #05567c;
}
.ui__bar:before {
  right: 0;
  top: -1px;
  content: '';
  height: 3px;
  width: 10px;
}
.ui__bar .progress__moderate {
  background-color: #f0a100;
}
.ui__bar .progress__critical {
  background-color: #e00;
}
.ui__bar--progress-container {
  width: 95%;
  height: 100%;
  position: relative;
}
.ui__bar--progress {
  left: 6px;
  position: absolute;
  top: 5px;
  background-color: #47db00;
  right: 0;
  height: 6px;
  border-radius: 2px;
  transition: background-color 0.5s ease-in-out;
}
@media screen and (min-width: 768px) {
  .ui__bar--progress {
    height: 20px;
  }
}
.ui {
  position: absolute;
  bottom: 150px;
  right: 50px;
  color: #05e6ff;
  font-weight: 700;
}
.ui__points-new {
  font-size: 35px;
  color: #0ff90a;
  position: absolute;
  top: -55px;
  width: 100px;
  right: -16px;
  text-align: center;
  opacity: 0;
  animation-name: points-slide;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
@keyframes points-slide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media screen and (min-width: 768px) {
  .ui__hexagon {
    width: 57.5px;
    height: 100px;
    top: -10px;
    right: 5px;
  }
  .ui-hexagon__content--points {
    font-size: 28px;
    line-height: 100px;
  }
  .ui__hexagon--bar-points {
    height: 75px;
    width: 43.125px;
    right: 90px;
    top: 60px;
  }
  .ui-hexagon__content--bar-points {
    line-height: 75px;
    font-size: 32px;
  }
  .ui__multiplayer {
    height: 35px;
    width: 40px;
    right: 150px;
    top: 60px;
  }
  .ui-multiplayer__content {
    line-height: 35px;
    font-size: 20px;
  }
  .ui__bar {
    height: 30px;
    max-width: 500px;
    top: 105px;
    right: 125px;
  }
  .ui__bar:before {
    background-color: #05567c;
    position: absolute;
    right: 8px;
    top: -1px;
    content: '';
    height: 3px;
    width: 15px;
  }
}
@media (max-width: 480px) {
  .ui__points-new {
    top: 20px;
    right: -50px;
    font-size: 25px;
  }
  .leave-game {
    top: 10px;
    left: 15px;
    font-size: 18px;
  }
}

.timerEndingAnimation {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  animation-name: vignette;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes vignette {
  0% {
    box-shadow: inset 0 0 0 rgba(255, 0, 0, 0);
  }
  to {
    box-shadow: inset 0 0 700px rgba(255, 0, 0, 0.7);
  }
}

.leave-game {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 35px;
  text-decoration: none;
  font-size: 22px;
  color: hsla(0, 0%, 100%, 0.7);
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.leave-game i {
  display: flex;
  align-items: center;
}
.leave-game:hover {
  color: #fff;
}
.leave-game__inner {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10px;
}
